n8n-workflow-template.json
{
  "name": "PDF Invoice Extraction to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-upload",
        "responseMode": "lastNode",
        "options": {
          "binaryData": true
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "https://api.unstract.com/extract",
        "options": {
          "headers": {
            "x-api-key": "{{$env.UNSTRACT_API_KEY}}"
          },
          "binaryProperty": "data",
          "bodyContentType": "multipart-form-data"
        }
      },
      "name": "Unstract API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "vendorName",
              "value": "={{$json[\"vendorName\"]}}"
            },
            {
              "name": "invoiceNumber",
              "value": "={{$json[\"invoiceNumber\"]}}"
            },
            {
              "name": "invoiceDate",
              "value": "={{$json[\"invoiceDate\"]}}"
            },
            {
              "name": "dueDate",
              "value": "={{$json[\"dueDate\"]}}"
            },
            {
              "name": "totalAmount",
              "value": "={{$json[\"totalAmount\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "sheetId": "<YOUR_GOOGLE_SHEET_ID>",
        "range": "Sheet1!A:E",
        "options": {
          "valueInputMode": "RAW"
        },
        "fields": [
          {
            "name": "vendorName",
            "value": "={{$json[\"vendorName\"]}}"
          },
          {
            "name": "invoiceNumber",
            "value": "={{$json[\"invoiceNumber\"]}}"
          },
          {
            "name": "invoiceDate",
            "value": "={{$json[\"invoiceDate\"]}}"
          },
          {
            "name": "dueDate",
            "value": "={{$json[\"dueDate\"]}}"
          },
          {
            "name": "totalAmount",
            "value": "={{$json[\"totalAmount\"]}}"
          }
        ]
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [950, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Unstract API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unstract API": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
